 <mat-card class="movieForm">
    <mat-form-field appearance="fill">
        <mat-label>Add Movie</mat-label>
        <input matInput>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Movie Image</mat-label>
        <input matInput>
      </mat-form-field>
     
      <mat-form-field appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      
      <button mat-raised-button color="primary">Submit</button>
 </mat-card>